<header
    class="sticky isolate z-10 flex h-14 w-full items-center gap-5 overflow-clip bg-white px-2 py-2 shadow-md sm:px-5"
>
    <a href="/" class="mr-auto flex h-full gap-5">
        <picture class="aspect-square h-full sm:inline-block">
            <img src="/assets/logo.png" alt="" />
        </picture>
        <h1 class="hidden select-none text-3xl font-bold sm:inline-block">
            Rezeptverwaltung
        </h1>
    </a>
    <form
        action="/"
        method="get"
        enctype="application/x-www-form-urlencoded"
        class="flex flex-grow gap-2"
    >
        <input
            type="search"
            name="search"
            placeholder="Suche"
            class="flex-grow rounded-md bg-gray-200 p-1"
        />
    </form>
    {{ if chef }}
    <a class="w-fit flex-shrink" href="/recipe/new">Neues Rezept</a>
    <a class="w-fit flex-shrink" href="/cookbook/new">Neues Kochbuch</a>
    <a class="w-fit flex-shrink" href="/shopping-list/new"
        >Neue Einkaufsliste</a
    >
    <form
        action="/logout"
        method="post"
        enctype="application/x-www-form-urlencoded"
    >
        <button type="submit" class="text-red-500">Logout</button>
    </form>

    <a
        href="/chef/{{ chef.username | html.url_escape }}"
        class="flex aspect-square h-full max-h-full flex-col"
    >
        <div
            class="grid aspect-square h-full items-center overflow-clip rounded-t-full"
        >
            <img
                class="aspect-square h-full rounded-t-full object-cover"
                src="{{ chef_image_url | html.url_escape }}"
                alt="Profilbild von {{ chef.username | html.escape }}"
            />
        </div>
        <span
            style="font-size: 0.65rem; line-height: 1rem"
            class="h-4 w-full flex-shrink-0 truncate text-center"
            >{{ chef.username | html.escape }}</span
        >
    </a>
    <a href="/settings">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="#000000"
            viewBox="0 0 256 256"
        >
            <path
                d="M237.94,107.21a8,8,0,0,0-3.89-5.4l-29.83-17-.12-33.62a8,8,0,0,0-2.83-6.08,111.91,111.91,0,0,0-36.72-20.67,8,8,0,0,0-6.46.59L128,41.85,97.88,25a8,8,0,0,0-6.47-.6A111.92,111.92,0,0,0,54.73,45.15a8,8,0,0,0-2.83,6.07l-.15,33.65-29.83,17a8,8,0,0,0-3.89,5.4,106.47,106.47,0,0,0,0,41.56,8,8,0,0,0,3.89,5.4l29.83,17,.12,33.63a8,8,0,0,0,2.83,6.08,111.91,111.91,0,0,0,36.72,20.67,8,8,0,0,0,6.46-.59L128,214.15,158.12,231a7.91,7.91,0,0,0,3.9,1,8.09,8.09,0,0,0,2.57-.42,112.1,112.1,0,0,0,36.68-20.73,8,8,0,0,0,2.83-6.07l.15-33.65,29.83-17a8,8,0,0,0,3.89-5.4A106.47,106.47,0,0,0,237.94,107.21ZM128,168a40,40,0,1,1,40-40A40,40,0,0,1,128,168Z"
            ></path>
        </svg>
    </a>
    {{ else }}
    <a href="/register" class="text-green-500">Registrierung</a>
    <a href="/login" class="text-green-500">Einloggen</a>
    {{ end }}
</header>
