<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rezeptverwaltung – Einloggen</title>
        <link rel="stylesheet" href="/assets/styles.css" />
    </head>
    <body>
        {{ header }}
        <div
            class="grid h-[calc(100dvh-3.5rem)] w-full place-items-center overflow-clip"
        >
            <form
                action="/login"
                enctype="application/x-www-form-urlencoded"
                method="post"
                class="grid place-items-center gap-9"
            >
                <div class="flex flex-col gap-1">
                    <label for="username">Benutzername:</label>
                    <input
                        class="w-64 rounded-md p-3 shadow-lg"
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Benutzername"
                        required
                    />
                </div>
                <div class="flex flex-col gap-1">
                    <label for="password">Password:</label>
                    <input
                        class="w-64 rounded-md p-3 shadow-lg"
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Passwort"
                        required
                    />
                </div>
                {{ for error_message in error_messages }}
                <span class="text-red-500"> {{ error_message }} </span>
                {{ end }}
                <button
                    type="submit"
                    class="rounded-md bg-green-500 px-16 py-3 text-white shadow-lg"
                >
                    Einloggen
                </button>
            </form>
        </div>
    </body>
</html>
