<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Neue Einkaufsliste erstellen — Rezeptverwaltung</title>
        <link rel="stylesheet" href="/assets/styles.css" />
        <link rel="favicon" href="/assets/favicon.ico" />
    </head>
    <body>
        {{ header }}
        <main class="grid max-w-full justify-items-center px-4 pt-10">
            <form
                id="new-shopping-list-form"
                class="grid w-[min(100%,100ch)] gap-x-4 gap-y-2"
                action="/shopping-list/new"
                method="post"
                enctype="application/x-www-form-urlencoded"
            >
                <label class="col-span-1 col-start-1 text-right" for="title"
                    >Titel der Einkaufsliste:</label
                >
                <input
                    class="rounded-md bg-gray-200 p-1"
                    type="text"
                    id="title"
                    required
                    name="title"
                />
                <label
                    class="col-span-1 col-start-1 text-right"
                    for="visibility"
                    >Privat:</label
                >
                <input
                    class="aspect-square h-full justify-self-start rounded-md bg-gray-200 p-1"
                    type="checkbox"
                    id="visibility"
                />
                <label class="col-span-1 col-start-1 sm:text-right"
                    >Rezepte:</label
                >
                <table
                    class="grid grid-cols-[repeat(3,minmax(0,1fr)),1.2rem] gap-1"
                >
                    <thead class="contents">
                        <tr class="col-span-4 grid grid-cols-subgrid">
                            <th>Anzahl Portionen (Zähler)</th>
                            <th>(Nenner)</th>
                            <th>Rezept</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="contents">
                        <tr class="col-span-4 grid grid-cols-subgrid">
                            <td class="rounded-md bg-gray-200 p-1">
                                <input
                                    type="number"
                                    class="w-full bg-gray-200 text-right"
                                    required
                                    min="0"
                                    max="100"
                                    title="Zähler"
                                    placeholder="Zähler"
                                />
                            </td>
                            <td class="rounded-md bg-gray-200 p-1">
                                <input
                                    type="number"
                                    class="w-full bg-gray-200 text-right"
                                    required
                                    placeholder="Nenner (1)"
                                    title="Nenner"
                                    min="1"
                                    max="100"
                                    value="1"
                                />
                            </td>
                            <td class="rounded-md bg-gray-200 p-1">
                                <select class="w-full bg-gray-200">
                                    {{ for recipe in recipes }}
                                    <option value="{{ recipe.identifier }}">
                                        {{ recipe.title | html.escape}} von {{
                                        recipe.chef | html.escape }}
                                    </option>
                                    {{ end }}
                                </select>
                            </td>
                            <td>
                                <button type="button" class="h-full">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="20"
                                        height="20"
                                        class="h-full"
                                        fill="#000000"
                                        viewBox="0 0 256 256"
                                    >
                                        <path
                                            d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"
                                        ></path>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button
                    type="button"
                    class="rounded-md bg-gray-400 px-3 py-1 sm:col-start-2"
                    id="add-recipe"
                >
                    Neues Rezept hinzufügen
                </button>
                <button
                    class="col-span-2 col-start-1 mt-3 justify-self-center rounded-md bg-green-500 px-5 py-2 shadow-md"
                    type="submit"
                >
                    Einkaufsliste erstellen
                </button>
                <script type="text/javascript">
                    const form = document.querySelector(
                        "#new-shopping-list-form",
                    );
                    console.log(form);
                    const recipeContainer = form.querySelector("tbody");
                    const addRecipe = form.querySelector("#add-recipe");

                    recipeContainer.firstElementChild.querySelector(
                        "select",
                    ).value = "";
                    recipeContainer.firstElementChild.querySelector(
                        "button",
                    ).onclick = (event) => {
                        if (recipeContainer.childElementCount > 1) {
                            event.currentTarget.parentElement.parentElement.remove();
                        } else {
                            event.currentTarget.parentElement.parentElement
                                .querySelectorAll("input, select")
                                .forEach((elem) => (elem.value = ""));
                        }
                    };
                    addRecipe.onclick = (event) => {
                        const newRecipe =
                            recipeContainer.firstElementChild.cloneNode(true);
                        newRecipe
                            .querySelectorAll("input, select")
                            .forEach((elem) => (elem.value = ""));
                        newRecipe.querySelector("td:nth-child(2) input").value =
                            "1";

                        newRecipe.querySelector("button").onclick = (event) => {
                            if (recipeContainer.childElementCount > 1) {
                                event.currentTarget.parentElement.parentElement.remove();
                            } else {
                                event.currentTarget.parentElement.parentElement
                                    .querySelectorAll("input, select")
                                    .forEach((elem) => (elem.value = ""));
                            }
                        };
                        recipeContainer.appendChild(newRecipe);
                    };

                    form.onsubmit = (event) => {
                        const recipes = form.querySelectorAll("tbody tr");
                        recipes.forEach((recipe, index) => {
                            recipe.querySelector("td:nth-child(1) input").name =
                                `portion_numerator_${index}`;
                            recipe.querySelector("td:nth-child(2) input").name =
                                `portion_denominator_${index}`;
                            recipe.querySelector(
                                "td:nth-child(3) select",
                            ).name = `recipe_${index}`;
                        });
                    };
                </script>
            </form>
        </main>
    </body>
</html>
