<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Neue Einkaufsliste erstellen — Rezeptverwaltung</title>
        <link rel="stylesheet" href="/assets/styles.css" />
        <link rel="favicon" href="/assets/favicon.ico" />
    </head>
    <body>
        {{ header }}
        <main class="grid max-w-full justify-items-center px-4 pt-10">
            <form
                id="new-shopping-list-form"
                class="grid w-[min(100%,80ch)] gap-x-4 gap-y-2"
                action="/shopping-list/new"
                method="post"
                enctype="application/x-www-form-urlencoded"
            >
                <label class="col-span-1 col-start-1 text-right" for="title"
                    >Titel des Kochbuchs:</label
                >
                <input
                    class="rounded-md bg-gray-200 p-1"
                    type="text"
                    id="title"
                    required
                    name="title"
                />
                <label
                    class="col-span-1 col-start-1 text-right"
                    for="visibility"
                    >Privat:</label
                >
                <input
                    class="aspect-square h-full justify-self-start rounded-md bg-gray-200 p-1"
                    type="checkbox"
                    id="visibility"
                />
                <!-- <div class="contents">
                    <label
                        class="col-span-1 col-start-1 text-right"
                        for="recipe-select"
                        >Rezepte:</label
                    >
                    <select
                        multiple
                        id="recipe-select"
                        class="rounded-md bg-gray-200 p-1"
                    >
                        {{ for recipe in recipes }}
                        <option
                            value="{{ recipe.identifier | html.url_escape }}"
                        >
                            {{ recipe.title | html.escape }} von {{ recipe.chef
                            | html.escape }}
                        </option>
                        {{ end }}
                    </select>
                </div> -->

                <button
                    class="col-span-2 col-start-1 mt-3 justify-self-center rounded-md bg-green-500 px-5 py-2 shadow-md"
                    type="submit"
                >
                    Einkaufsliste erstellen
                </button>
                <script type="text/javascript"></script>
            </form>
        </main>
    </body>
</html>
